.mar-8 {
    margin-bottom: 8px;
}
.mar-16 {
    margin-bottom: 16px;
}
.mar-24 {
    margin-bottom: 24px;
}
.mar-36 {
    margin-bottom: 36px;
}
.mar-48 {
    margin-bottom: 48px;
}
.mar-56 {
    margin-bottom: 56px;
}
.mar-64 {
    margin-bottom: 64px;
}