@import url("../../Themes/theme_styles.css");

.top-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 15px;
    width: 100%;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    padding: 5px;
}

.top-bar-content {
    display: flex;
}

.top-bar-content button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    user-select: none;
    cursor: pointer;
    color: var(--text-color);
}

.dropdown-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(15px, 50px);
    display: flex;
    flex-direction: column;
    text-align: start;
}

.dropdown-content {
    background-color: var(--second-color);
}

.dropdown-content a {
    padding: 6px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
}

.dropdown-content hr {
    width: 100%;
}

.dropdown-content.hidden {
    display: none;
}

.dropdown-content.visible {
    display: flex;
}